body{
    font-size: 30px;
}
#divmain{
    font-size: 32px;
}
#div1{
    font-size: 2em;
}
#div2{
    font-size: 2rem;
}
#div3{

}


tr #th1heading{
    background-color: bisque;
    color:red;
}
table th,
td{
    border: 1px solid rgb(64, 47, 255);

}

